* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
html {
    scroll-behavior: smooth;
}

body {
    background-color: #bebebe;
    /* Above is the same as #FFF804 but used for opacity setting compatible with more browsers */
    text-align: center;
    font-family: "Poppins";
    padding: 0;
    font-size: 1em;
}


header {
    color: #386B52; 
    width: 100%;
    height: 15vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    
}
.main_nav{
    background-image: url(assets/banner.svg);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed; 
    top: 0; 
    right: 0; 
    left: 0; 
    width: 100%;
    padding-bottom: 10px;
}

header ul {
    text-align: center;
}

header ul li {
    font-size: 1.25em;
    display: inline;
    list-style-type: none;

}
header ul li a {
    display: inline;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;
}

header ul li a:hover {
    text-shadow: 0px 0px 15px coral;

}

#logo {
    max-width: 15vw;
    max-height: 10vh;
    padding-top: 10px;
    margin-left: 20px;
}

header a {
    color: #386B52;
}

h1 {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    text-align: center;
    font-size: 3.5em;
    color:#000000;
}

#welcome {
    text-align: center;
    margin: 2rem;
}

h2 {
    text-align: center;
    display: block;
    padding: 1rem;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    padding: 20px;
}

p {
    font-size: 1.25em;
    padding: 60px;
}

main {
    background-color: #386B52;
    display:flex;
    margin-top: 5%;
}

.gallery-container {
    margin: 5% 20%;
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    grid-template-areas: 
    "a b c"
    "a d e"
    "f f e"
    "f f e"
    "g h i"
    ;
}

.gallery1 {
    grid-area: a;
    background: url(assets/designimg.png) center / cover;
}
.gallery2 {
    grid-area: b;
    background: url(assets/codeimg.png) center / cover;;
}
.gallery3 {
    grid-area: c;
    background: url(assets/forestlaptop.png) center / cover;;
}
.gallery4 {
    grid-area: d;
    background: url(assets/headphonesnature.png) center / cover;
}
.gallery5 {
    grid-area: e;
    background: url(assets/greenfield.png) center / cover;;
}
.gallery6 {
    grid-area: f;
    background: url(assets/greentree.png) center / cover;;
}
.gallery7 {
    grid-area: g;
    background: url('https://images.unsplash.com/photo-1581291184976-f565a4574764?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80') center / cover;
}
.gallery8 {
    grid-area: h;
    background: url('https://images.unsplash.com/photo-1485257334450-84ec1ba6393d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2944&q=80') center / cover;
}
.gallery9 {
    grid-area: i;
    background: url('https://images.unsplash.com/photo-1632813889917-d4bd676ec222?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80') center / cover;
}


.gallery-container a {
    color: yellow;
}

footer {
    background-color: #c8e979;
    color: #386B52;
}
footer h2 {
    color: #386B52;
    padding: 2em;
    margin: 0;
}
form {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    box-shadow: black 0px 0px 2px;
}
label .progress {
    font-size: 1.25em;
    display: block;
    padding-right: 20px;
    text-align: center;
}

input {
    width: 100%;
    height: 2em;
    font-size: 1em;
    display: inline-block;
    border-radius: 10px;
    border: none;
    padding: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    display:inline-block;
    font-size: 1em;
    resize: none;
    font-family: "Poppins";
    border-radius: 10px;
    border: none;
}

input[type=submit] {
    text-align: center;
    background-color: #386B52;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    color: #f7df56;
    cursor: pointer;
    padding: 0px;
}

#message {
    height: 4em;
}

#copyright {
    text-align: center;
    font-size: 0.75rem;
}

.top {
    background-color: black;
    position: fixed;
    bottom: 0;
    right: 0;
    color: white;
    width: 12vw;
    height: 6vh;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    transition: all 1s;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

.top:hover {
    box-shadow: 0 0 20px orange;
    background-color: yellow;
    color: black;
}

.main_nav {
    flex-wrap:wrap;
    align-items: center;
}
#logo {
    margin-left: 10px;
}

#projectsicon, #aboutmeicon, #skillsicon, #homeicon, #bchicon {
    display: none;
}

/* Media Queries */
/* iPad (up to 768px) */

@media (max-width: 768px) {

    body {
        font-size: 0.5rem;
        max-width: 100%;
        background-color: #386B52;
    }
    
    main {
        background-color: #386B52;
        display:flex;
        margin-top: 20vh;
    }

    .gallery-container {
        margin: 0% 10%;
        width: 80vw;
        height: 70vh;
    }

    .gallery-container a {
        color: yellow;
        display:block;
        padding: 10px;
        font-size: 1rem;
    }

    .main_nav {
        flex-wrap:wrap;
        align-items: center;
        flex-direction: column;
    }
    #logo {
        margin-left: 10px;
    }

    #projectsicon, #aboutmeicon, #skillsicon, #homeicon, #bchicon {
        display: inline;
        height: 60px;
        width: 60px;
        margin-top: 10px;
        margin-right: 10px;
    }

    #projectslink, #aboutmelink, #skillslink, #homelink, #bchlink {
        display: none;
    }

}

@media (max-width: 375px) {

    body {
        font-size: 0.5rem;
        max-width: 100%;
        background-color: #386B52;
    }
    
    main {
        background-color: #386B52;
        display:flex;
        margin-top: 20vh;
    }

    .gallery-container {
        margin: 0% 10%;
        width: 80vw;
        height: 70vh;
    }

    .gallery-container a {
        color: yellow;
        display:block;
        padding: 10px;
        font-size: 1rem;
    }

    .main_nav {
        flex-wrap:wrap;
        align-items: center;
        flex-direction: column;
    }
    #logo {
        margin-left: 10px;
    }

    #projectsicon, #aboutmeicon, #skillsicon, #homeicon, #bchicon {
        display: inline;
        height: 60px;
        width: 60px;
        margin-top: 10px;
        margin-right: 10px;
    }

    #projectslink, #aboutmelink, #skillslink, #homelink, #bchlink {
        display: none;
    }

}


/* Media Queries */
/* iPhone SE (up to 320px) */

@media (max-width: 320px) {

    body {
        font-size: 0.5rem;
        max-width: 100%;
        background-color: #386B52;
    }
    
    main {
        background-color: #386B52;
        display:flex;
        margin-top: 15vh;
        margin-top: 45%;
    }

.gallery-container {
    margin: 0% 10%;
    width: 80vw;
    height: 70vh;
}

.gallery-container a {
    color: yellow;
    display:block;
    padding: 10px;
}

.main_nav {
    flex-wrap:wrap;
    align-items: center;
}
#logo {
    margin-left: 10px;
}

#projectsicon, #aboutmeicon, #skillsicon, #homeicon, #bchicon {
    display: inline;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

#projectslink, #aboutmelink, #skillslink, #homelink, #bchlink {
    display: none;
}


}

