:root {
    --bg-dark-green: #386B52;
    --text-dark-green: #386B52;
    --bg-light-green: #c8e979;
    --text-light-green: #c8e979;
    --text-bright: yellow;
    --font: 'Poppins';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-light-green);
    text-align: center;
    font-family: var(--font);
    padding: 0;
    font-size: 1em;
    color: var(--text-dark-green);
}


header {
    color: var(--text-dark-green);
    width: 100%;
    height: 100vh;
    background-image: url("./assets/banner.svg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: sticky;
    
}
.main_nav{
    background-image: url(assets/banner.svg);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: fixed; 
    top: 0; 
    right: 0; 
    left: 0; 
    width: 100%;
    padding-bottom: 10px;
    z-index: 1000;
}

header ul {
    text-align: center;
}

header ul li {
    font-size: 1.25em;
    display: inline;
    list-style-type: none;

}
header ul li a {
    display: inline;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    cursor: pointer;

}

header ul li a:hover {
    text-shadow: 0px 0px 15px coral;

}

#logo {
    max-width: 15vw;
    max-height: 10vh;
    padding-top: 10px;
    margin-left: 20px;
}

header a {
    color: var(--text-dark-green);
}

h1 {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    text-align: center;
    font-size: 3.5em;
    color:#000000;
}

#welcome {
    text-align: center;
    margin: 2rem;
}

h2 {
    text-align: center;
    display: block;
    padding: 4rem 1rem;
    /* text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; */
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
    padding: 20px;
}

p {
    font-size: 1.25em;
    padding: 60px;
}

#wordoftheday {
    background-color: var(--bg-dark-green);
    text-align: center;
    color: var(--text-bright);
    margin: 2em;
    font-size: 1.25em;
    border-radius: 10px;
}

#wordoftheday p {
    padding: 20px;
    font-size: 1.25em;
}
#dayWord {
    background-color: var(--bg-dark-green);
    text-align: center;
    color: var(--text-bright);
    font-size: 1.25em;
    border-radius: 10px;
}

img.others {
    float: right;
    margin: auto;
    padding: 2em;
    max-width: 35%;
}

section {
    margin: 0;
    text-align: left;
}

section:nth-child(odd) {
    background-color: var(--bg-light-green);

}
section:nth-child(even) {
    background-color: var(--bg-dark-green);
    color: var(--text-light-green);
}

footer {
    background-color: var(--text-light-green);
    color: var(--bg-dark-green);
}
footer h2 {
    padding: 1.5em;
    margin: 0;
}
form {
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    box-shadow: black 0px 0px 2px;
}

label.progress {
    font-size: 1.25em;
    display: block;
    padding-right: 20px;
    text-align: center;
}

progress {
    width: 80%;
    margin: 0 10%;
    height: 40px;
    color: skyblue;

}

input {
    width: 100%;
    height: 2em;
    font-size: 1em;
    display: inline-block;
    border-radius: 10px;
    border: none;
    padding: 20px;
    text-align: center;
}

textarea {
    width: 100%;
    display:inline-block;
    font-size: 1em;
    resize: none;
    font-family: "Poppins";
    border-radius: 10px;
    border: none;
}

input[type=submit] {
    text-align: center;
    background-color: #386B52;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    color: #f7df56;
    cursor: pointer;
    padding: 0px;
}

form label, input, textarea {
    margin: 10px 0px;
}

#message {
    height: 4em;
}

#copyright {
    text-align: center;
    font-size: 0.75rem;
}



/* Margits */
.cards {
    display: flex;
    padding: 4rem 1rem;
}

.cards a{
    padding: 20px;
    display: block;
    text-align: center;
}
.card  {
    width: 30%;
    /* background-color: rgb(191, 235, 85, 0.5);
    #BFEB55 Hex color, used RGB for compatability on other browsers with opacity changes */
    background-color: var(--bg-light-green);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    color: var(--text-dark-green);
    box-shadow: black 0px 0px 10px;

}

.card img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.card h3,
.card p,
.card a {
    margin-bottom: 10px;
}
.card p {
    padding: 20px;
}

.card a {
    color: var(--text-dark-green);
    cursor: pointer;
}

.iconswrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
.iconswrapper img {
    width: 50%;
    height: 100%;
    object-fit: contain;
}

.top {
    background-color: black;
    position: fixed;
    bottom: 50px;
    right: 10px;
    color: white;
    width: 12vw;
    height: 6vh;
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    transition: all 1s;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
}

.top:hover {
    box-shadow: 0 0 20px orange;
    background-color: yellow;
    color: black;
}

#projectsicon, #aboutmeicon, #skillsicon, #galleryicon, #bchicon {
    display: none;
}

#leaves {
    position:relative;
    top:-10px;
    width:100%;
    text-align: right;
}

#leaves i {
    display: inline-block;
    width: 200px;
    height: 150px;
    background: linear-gradient(to bottom right, #309900, #005600);
    transform: skew(20deg);
    border-radius: 5% 40% 70%;
    box-shadow: inset 0px 0px 1px #222;
    border: 1px solid #333;
    z-index: 1;
    -webkit-animation: falling 5s 0s infinite;
}

#leaves i:before {
    position: absolute;
    content: '';
    top: 117px;
    right: 9px;
    height: 27px;
    width: 32px;
    transform: rotate(49deg);
    border-radius: 0% 15% 15% 0%;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    border-left: 0px solid #222;
    border-right: 1px solid #222;
    background: linear-gradient(to right, rgba(0,100,0,1), #005600);
    z-index: 1;
}

#leaves i:after {
    content: '';
    height: 125px;
    width: 10px;
    background: linear-gradient(to right, rgba(0,0,0,.15), rgba(0,0,0,0));
    display: block;
    transform: rotate(125deg);
    position: absolute;
    left: 85px;
    border-radius:50%;
}

#leaves i:nth-of-type(n)    { height:23px; width:30px; }
#leaves i:nth-of-type(n):before { width:7px; height:5px; top:17px; right:1px; }
#leaves i:nth-of-type(n):after { width:2px; height:17px; left: 12px; top:0px; }

#leaves i:nth-of-type(2n+1)    { height:11px; width:16px; }
#leaves i:nth-of-type(2n+1):before { width:4px; height:3px; top:7px; right:0px; }
#leaves i:nth-of-type(2n+1):after { width:2px; height:6px; left: 5px; top:1px; }

#leaves i:nth-of-type(3n+2)  { height:17px; width:23px; }
#leaves i:nth-of-type(3n+2):before  { height:4px; width:4px; top:12px; right:1px; }
#leaves i:nth-of-type(3n+2):after  { height:10px; width:2px; top:1px; left:8px; }

#leaves i:nth-of-type(n)    { background: linear-gradient(to bottom right, #309900, #005600); }
#leaves i:nth-of-type(2n+2)  { background: linear-gradient(to bottom right, #5e9900, #2b5600); }
#leaves i:nth-of-type(4n+1)  { background: linear-gradient(to bottom right, #990, #564500); }

#leaves i:nth-of-type(n)    { opacity: .7;}
#leaves i:nth-of-type(3n+1)  { opacity: .5;}
#leaves i:nth-of-type(3n+2)  { opacity: .3;}

#leaves i:nth-of-type(n)    {transform: rotate(180deg);}


#leaves i:nth-of-type(n) { -webkit-animation-timing-function:ease-in-out;}

@-webkit-keyframes falling {
    
    0% {
        -webkit-transform:
        translate3d(300,0,0)
        rotate(0deg);
    }
    
    100% {
        -webkit-transform:
        translate3d(-350px,700px,0)
        rotate(90deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling3 {
    0% {
        -webkit-transform:
        translate3d(0,0,0)
        rotate(-20deg);
    }
    
    100% {
        -webkit-transform:
        translate3d(-230px,640px,0)
        rotate(-70deg);
        opacity: 0;
    }
}

@-webkit-keyframes falling2 {
    0% {
        -webkit-transform:
        translate3d(0,0,0)
        rotate(90deg);
    }
    
    100% {
        -webkit-transform:
        translate3d(-400px,680px,0)
        rotate(0deg);
        opacity: 0;
    }
}

#leaves i:nth-of-type(n)   { -webkit-animation-delay: 1.9s;}
#leaves i:nth-of-type(2n)  { -webkit-animation-delay: 3.9s;}
#leaves i:nth-of-type(3n)  { -webkit-animation-delay: 2.3s;}
#leaves i:nth-of-type(4n)  { -webkit-animation-delay: 4.4s;}
#leaves i:nth-of-type(5n)  { -webkit-animation-delay: 5s;  }
#leaves i:nth-of-type(6n)  { -webkit-animation-delay: 3.5s;}
#leaves i:nth-of-type(7n)  { -webkit-animation-delay: 2.8s;}
#leaves i:nth-of-type(8n)  { -webkit-animation-delay: 1.5s;}
#leaves i:nth-of-type(9n)  { -webkit-animation-delay: 3.3s;}
#leaves i:nth-of-type(10n) { -webkit-animation-delay: 2.5s;}
#leaves i:nth-of-type(11n) { -webkit-animation-delay: 1.2s;}
#leaves i:nth-of-type(12n) { -webkit-animation-delay: 4.1s;}
#leaves i:nth-of-type(13n) { -webkit-animation-delay: 1s;  }
#leaves i:nth-of-type(14n) { -webkit-animation-delay: 4.7s;}
#leaves i:nth-of-type(15n) { -webkit-animation-delay: 3s;  }


@media (max-width: 320px) {
    
    body {
        font-size: 0.5rem;
        max-width: 100%;
    }

    header {
        max-width: 100%;
        height: 100vh;
        background-image: url("./assets/banner.svg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: right;
    }

    img.others {
        display: block;
        margin: auto;
        padding: 20px;
        max-width: 100%;
    }
    p {
        padding: 20px;
    }


    .cards {
        display: flex;
        flex-direction: column;
    }
    .card  {
        width: 90%;
        background-color: var(--bg-light-green);
        margin: 0.2rem;
        border-radius: 1rem;
        border-style: solid;
        padding: 0.5em;
        box-shadow: black 0px 0px 10px;
        margin-bottom: 20px;
    }
    
    .card img {
        width: 100%;
        max-height: 40%;
        object-fit: cover;
        padding: 20px;
    }
    
    .card h3,
    .card p,
    .card a {
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    .iconswrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 100%;
    }
    .iconswrapper img {
        width: 50%;
        height: 100%;
        object-fit: contain;
    }
    .cardicons img {
        padding: 0;
    }

    #projectsicon, #aboutmeicon, #skillsicon, #galleryicon, #bchicon {
        display: inline;
        height: 40px;
        width: 40px;
        margin-top: 10px;
        margin-right: 10px;
    }

    #wordoftheday {
        background-color: var(--bg-dark-green);
        text-align: center;
        color: var(--text-bright);
        margin: 2em;
        font-size: 1.25em;
        border-radius: 10px;
    }
    
    #wordoftheday p {
        padding: 20px;
        font-size: 1.25em;
    }
    #dayWord {
        background-color: var(--bg-dark-green);
        text-align: center;
        color: var(--text-bright);
        font-size: 1.25em;
        border-radius: 10px;
    }

}


/* Media queries ipad max width 768px */

@media (max-width: 768px) {
    
    .main_nav {
        flex-wrap:wrap;
        align-items: center;
    }
    #logo {
        margin-left: 10px;
    }
    
    .cards {
        flex-direction:column;
        text-align: center;
    }
    
    .card {
        width: 90%;
        padding: 20px;
        box-shadow: black 0px 0px 10px;
    }
    
    .card img {
        padding: 20px;
    }
    
    .iconswrapper img {
        height: 100px;
        width: 100px;
    }
    
    #projectsicon, #aboutmeicon, #skillsicon, #galleryicon, #bchicon {
        display: inline;
        height: 60px;
        width: 60px;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    #projectslink, #aboutmelink, #skillslink, #gallerylink, #bchlink {
        display: none;
    }
    
    #wordoftheday {
        background-color: var(--bg-dark-green);
        text-align: center;
        color: var(--text-bright);
        margin: 2em;
        font-size: 1.25em;
        border-radius: 10px;
    }
    
    #wordoftheday p {
        padding: 20px;
        font-size: 1.25em;
    }
    #dayWord {
        background-color: var(--bg-dark-green);
        text-align: center;
        color: var(--text-bright);
        font-size: 1.25em;
        border-radius: 10px;
    }
    
}



@media (max-width: 375px) {
    
    body {
        font-size: 0.5rem;
        max-width: 100%;
    }
    
    header {
        max-width: 100%;
        height: 100vh;
        background-image: url("./assets/banner.svg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: right;
    }
    
    img.others {
        display: block;
        margin: auto;
        padding: 20px;
        max-width: 100%;
    }
    p {
        padding: 20px;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card  {
        width: 90%;
        background-color: var(--bg-light-green);
        margin: 0.2rem;
        border-radius: 1rem;
        border-style: solid;
        padding: 0.5em;
        box-shadow: black 0px 0px 10px;
        margin-bottom: 20px;
        
    }
    
    .card img {
        width: 100%;
        max-height: 40%;
        object-fit: cover;
        padding: 20px;
    }
    
    .card h3,
    .card p,
    .card a {
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    
    
    .top {
        background-color: black;
        position: fixed;
        bottom: 50px;
        right: 10px;
        color: white;
        width: 12vw;
        height: 6vh;
        font-size: 2rem;
        border-radius: 10px;
        border: none;
        transition: all 1s;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
    }
    
    label {
        margin-left: 10px;
    }
    
    .main_nav {
        flex-wrap:wrap;
        align-items: center;
    }
    #logo {
        margin-left: 10px;
        width: 50vw;
    }
    
    #projectsicon, #aboutmeicon, #skillsicon, #galleryicon, #bchicon {
        display: inline;
        height: 60px;
        width: 60px;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    #projectslink, #aboutmelink, #skillslink, #gallerylink, #bchlink {
        display: none;
    }

    #wordoftheday {
        background-color: var(--bg-dark-green);
        text-align: center;
        color: var(--text-bright);
        margin: 2em;
        font-size: 1.25em;
        border-radius: 10px;
    }
    
    #wordoftheday p {
        padding: 20px;
        font-size: 1.25em;
    }
    #dayWord {
        background-color: var(--bg-dark-green);
        text-align: center;
        color: var(--text-bright);
        font-size: 1.25em;
        border-radius: 10px;
    }
    
    
}

@media (max-width: 360px) {
    
    body {
        font-size: 0.5rem;
        max-width: 100%;
    }
    
    header {
        max-width: 100%;
        height: 100vh;
        background-image: url("./assets/banner.svg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        justify-content: right;
    }
    
    img.others {
        display: block;
        margin: auto;
        padding: 20px;
        max-width: 100%;
    }
    p {
        padding: 20px;
    }
    
    .cards {
        display: flex;
        flex-direction: column;
    }
    .card  {
        width: 90%;
        background-color: var(--bg-light-green);
        margin: 0.2rem;
        border-radius: 1rem;
        border-style: solid;
        padding: 0.5em;
        box-shadow: black 0px 0px 10px;
        margin-bottom: 20px;
        
    }
    
    .card img {
        width: 100%;
        max-height: 40%;
        object-fit: cover;
        padding: 20px;
    }
    
    .card h3,
    .card p,
    .card a {
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    
    
    .top {
        background-color: black;
        position: fixed;
        bottom: 50px;
        right: 10px;
        color: white;
        width: 12vw;
        height: 6vh;
        font-size: 2rem;
        border-radius: 10px;
        border: none;
        transition: all 1s;
        cursor: pointer;
        text-align: center;
        line-height: 50px;
    }
    
    label {
        margin-left: 10px;
    }
    
    .main_nav {
        flex-wrap:wrap;
        align-items: center;
    }
    #logo {
        margin-left: 10px;
        width: 50vw;
    }
    
    #projectsicon, #aboutmeicon, #skillsicon, #galleryicon, #bchicon {
        display: inline;
        height: 40px;
        width: 40px;
        margin-top: 10px;
        margin-right: 10px;
    }
    
    #projectslink, #aboutmelink, #skillslink, #gallerylink, #bchlink {
        display: none;
    }
    
    
}

@media (max-width: 320px) {

    #projectsicon, #aboutmeicon, #skillsicon, #galleryicon, #bchicon {
    display: inline;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-right: 10px;

    }
    
}